.nav-list {
  display: flex;
  align-items: center;
  list-style: none;

  @media only screen and (max-width: 60em) {
    display: none;
  }

  & > *:not(:first-child) {
    margin-left: 5rem;
  }

  .nav-item {
    .nav-link {
      color: var(--white-color);
      text-transform: capitalize;
      // padding: 0rem 2rem;
      min-width: 10rem;
      // background-color: red;
      text-decoration: none;
      font-size: 1.25rem;
    }
  }
}
