/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --white-color: #ffffff;
  --border-color: #eaeaea;
  --primary-color: #080f24;
  --secondary-color: #f2f3f2;
  --heading-light-color: #ffffffe8;
  --heading-color: #000b2ee8;
  --headin-two-color: #051955;
  --blue-button-color-light: #0165ff;
  --button-color-dark: #3759e5;
  --text-dark-color: #000b2ee8;
  --text-light-color: #636877e8;
  --text-orange-color: #d10059;
  --text-font: "Inter", sans-serif;
  --nav-font: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  color: var(--text-dark-color);
  display: grid;
  grid-template-columns:
    [full-start] minmax(7rem, 1fr) [col-start] repeat(
      8,
      minmax(min-content, 16rem)
    )
    [col-end] minmax(7rem, 1fr) [full-end];
  grid-template-rows: min-content;
  font-family: var(--text-font);
  overflow-x: hidden;
  background-color: var(--background-color);
}

#root {
  grid-column: full-start / full-end;
  overflow-x: hidden;
  background-color: var(--background-color);
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}
